.footer
  ul.unstyled
    li 
      a(href="/", title="Web Warranties") Web Warranties
    li 
      a(href="/about", title="About Web Warranties") About
    li 
      a(href="/extended-warranties", title="Extended Warranties") Extended Warranties
    li 
      a(href="/faqs", title="FAQs") FAQs
    li 
      a(href="/partners", title="Partners") Partners
    li 
      a(href="/contact", title="Contact us") Contact us
    li 
      a(href="/terms", title="Terms") Terms
    li.copyright © Web Warranties 2012