.navbar.navbar-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/')
      .nav-collapse
        ul.nav
          li
            a(href='/about', title="Find out more about Web Warranties") About
          li                             
            a(href='/how-it-works', title="How our warranties work") How it Works
          li
            a(href='/products-covered', title="View products that are covered by our warranty") Products Covered
          li                             
            a(href='/quote', title="Get a Quote on a Product") Quick Quote
          li                             
            a(href='/your-warranty', title="Make a warranty claim") Your Warranty
          li                             
            a(href='/partners', title="Contact us to offer warranties to your customers") Partners
      //
        /.nav-collapse