.form-links
  | Don't have an account?
  a(href="/signup", title="Sign up with Web Warranties") Sign up
.well
  .form-vertical
    h3 Sign in
    h4 Manage your account, make a claim or register a warranty.
    label Username
      input(type="text", class="span3", placeholder="enter your username")
    label Password
      input(type="text", class="span3", placeholder="enter your password")
    button(type="submit", class="btn btn-large") Sign in
  .form-links
    | Forgot password?
    a(href="/retrieve-password", title="Click here to reset your password") Click here
  