#impress.impress-not-supported
  .fallback-message
    p
      | Your browser
      b doesn't support the features required
      | by impress.js, so you are presented with a simplified version of this presentation.
    p
      | For the best experience please use the latest
      b Chrome
      | or
      b Safari
      | browser. Firefox 10 (to be released soon) will also handle it.
                        
                
  #title.step(data-x='0', data-y='0', data-scale='4')
    span.try Yo Pay Attention!
    h1 Welcome to Nastasia's website
                                                            
        
  #its.step(data-x='850', data-y='2200', data-rotate='45', data-scale='1')
    p
      | My dad and I created this simple website. I want to come up a with a business as big and moshi monsters and club penguin.
      br
      strong Stay tuned...
  
  #big.step(data-x='3500', data-y='2100', data-rotate='180', data-scale='3')
    p
      | awesomely
      b big
      span.thoughts ideas
        
  #tiny.step(data-x='825', data-y='5325', data-z='-1000', data-rotate='300', data-scale='1')
    p
      | and maybe some 
      b small ideas


  // So to make a summary of all the possible attributes used to position presentation steps, we have:

  //  * `data-x`, `data-y`, `data-z` -- they define the position of **the center** of step element on the canvas in pixels; their default value is 0;
  //  * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` -- they define the rotation of the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z` are exactly the same;
  //  * `data-scale` -- defines the scale of step element; default value is 1
        
